OPTIONS & TRACE methods

RFC 7231 §4.3